@model IEnumerable<RealEstateApp.Models.MultiOwner>

<h2>Multipropietarios</h2>

@using (Html.BeginForm("Index", "MultiOwner", FormMethod.Get))
{
    <div class="form-group">
        <label for="year">Año:</label>
        @Html.TextBox("year", ViewBag.Year as int?, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="commune">Comuna:</label>
        @Html.TextBox("commune", ViewBag.Commune as string, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="block">Manzana:</label>
        @Html.TextBox("block", ViewBag.Block as int?, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="property">Predio:</label>
        @Html.TextBox("property", ViewBag.Property as int?, new { @class = "form-control" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Buscar</button>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comuna</th>
            <th>Manzana</th>
            <th>Predio</th>
            <th>Propietario</th>
            <th>Porcentaje de derechos</th>
            <th>Foja</th>
            <th>Fecha de Inscripción</th>
            <th>Año de Inscripción</th>
            <th>Número de Inscripción</th>
            <th>Año de vigencia inicial</th>
            <th>Año de vigencia final</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Commune)</td>
                <td>@Html.DisplayFor(modelItem => item.Block)</td>
                <td>@Html.DisplayFor(modelItem => item.Property)</td>
                <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                <td>@Html.DisplayFor(modelItem => item.RoyaltyPercentage)</td>
                <td>@Html.DisplayFor(modelItem => item.Fojas)</td>
                <td>@Html.DisplayFor(modelItem => item.InscriptionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.InscriptionYear)</td>
                <td>@Html.DisplayFor(modelItem => item.InscriptionNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.InitialEffectiveYear)</td>
                <td>@Html.DisplayFor(modelItem => item.FinalEffectiveYear)</td>
            </tr>
        }
    </tbody>
</table>