@model RealEstateApp.ViewModels.Insciption.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Inscription</h2>
            <hr />   
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewInscription.Cne, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NewInscription.Cne, (SelectList)ViewBag.CneOptions, "-- Select --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewInscription.Cne, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewInscription.Commune, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NewInscription.Commune, (SelectList)ViewBag.CommuneOptions, "-- Select --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewInscription.Commune, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="NewInscription.Block"></label>
            <input asp-for="NewInscription.Block" class="form-control" />
            <span asp-validation-for="NewInscription.Block" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewInscription.Property"></label>
            <input asp-for="NewInscription.Property" class="form-control" />
            <span asp-validation-for="NewInscription.Property" class="text-danger"></span>
        </div>       
        <div class="mb-3">
            <label asp-for="NewInscription.Fojas"></label>
            <input asp-for="NewInscription.Fojas" class="form-control" />
            <span asp-validation-for="NewInscription.Fojas" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewInscription.InscriptionNumber"></label>
            <input asp-for="NewInscription.InscriptionNumber" class="form-control" />
            <span asp-validation-for="NewInscription.InscriptionNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
