@model RealEstateApp.Models.Inscription

@{
    ViewData["Title"] = "Inscription Details";
}

<h1>Detalles</h1>

<div>
    <h4>Inscripción</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            CNE
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cne)
        </dd>
        <dt class = "col-sm-2">
            Comuna
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commune)
        </dd>
        <dt class = "col-sm-2">
            Manzana
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block)
        </dd>
        <dt class = "col-sm-2">
            Predio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property)
        </dd>
        <dt class = "col-sm-2">
            Enajenate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sellers)
        </dd>
        <dt class = "col-sm-2">
            Adquirente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyers.First().Rut)
        </dd>
        <dt class = "col-sm-2">
            Foja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fojas)
        </dd>
        <dt class = "col-sm-2">
            Número de Inscripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscriptionNumber)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Inscripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscriptionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a Inscripciones</a>
</div>
