@model IEnumerable<RealEstateApp.Models.Inscription>

@{
    ViewData["Title"] = "Inscription Index";
}

<h1>Inscripciones</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CNE
            </th>
            <th>
                Comuna
            </th>
            <th>
                Manzana
            </th>
            <th>
                Predio
            </th>
            <th>
                Foja
            </th>
            <th>
                Número de Inscripción
            </th>
            <th>
                Fecha de Inscripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fojas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionDate)
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.AttentionID">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
